[submodule "deps/bv-sized"]
	path = deps/bv-sized
	url = https://github.com/GaloisInc/bv-sized.git
[submodule "deps/elf-edit"]
	path = deps/elf-edit
	url = https://github.com/GaloisInc/elf-edit.git
[submodule "deps/softfloat-hs"]
	path = deps/softfloat-hs
	url = https://github.com/GaloisInc/softfloat-hs.git
[submodule "deps/bv-sized-float"]
	path = deps/bv-sized-float
	url = https://github.com/GaloisInc/bv-sized-float.git
[submodule "deps/berkeley-softfloat-3"]
	path = deps/berkeley-softfloat-3
	url = https://github.com/ucb-bar/berkeley-softfloat-3.git
