[submodule "submodules/bv-sized"]
	path = submodules/bv-sized
	url = git@github.com:GaloisInc/bv-sized.git
[submodule "submodules/elf-edit"]
	path = submodules/elf-edit
	url = git@github.com:GaloisInc/elf-edit.git
[submodule "submodules/parameterized-utils"]
	path = submodules/parameterized-utils
	url = git@github.com:GaloisInc/parameterized-utils.git
[submodule "submodules/softfloat-hs"]
	path = submodules/softfloat-hs
	url = git@github.com:GaloisInc/softfloat-hs.git
[submodule "submodules/bv-sized-float"]
	path = submodules/bv-sized-float
	url = git@github.com:GaloisInc/bv-sized-float.git
