[submodule "submodules/bv-sized"]
	path = submodules/bv-sized
	url = git@github.com:GaloisInc/bv-sized.git
[submodule "submodules/elf-edit"]
	path = submodules/elf-edit
	url = git@github.com:GaloisInc/elf-edit.git
[submodule "submodules/parameterized-utils"]
	path = submodules/parameterized-utils
	url = git@github.com:GaloisInc/parameterized-utils.git
[submodule "submodules/softfloat-hs"]
	path = submodules/softfloat-hs
	url = git@github.com:GaloisInc/softfloat-hs.git
[submodule "submodules/bv-sized-float"]
	path = submodules/bv-sized-float
	url = git@github.com:GaloisInc/bv-sized-float.git
[submodule "submodules/berkeley-softfloat-3"]
	path = submodules/berkeley-softfloat-3
	url = git@github.com:ucb-bar/berkeley-softfloat-3.git
[submodule "test/riscv-tests"]
	path = test/riscv-tests
	url = git@github.com:riscv/riscv-tests.git
